<div class="row">
  <div class="col-8">
    <%= form.field_container :title do %>
      <%= form.label :title %> <span class="required">*</span><br />
      <%= form.text_field :title, class: 'fullwidth title' %>
      <%= form.error_message_on :title %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-8">
    <%- selected_type = form.object.product ? 'product_id' : 'link' -%>
    <%= select_tag 'link_type', options_for_select([['Link','link'],['Producto','product_id']], selected_type) -%>

    <%= form.field_container :link do %>
      <%= form.text_field :link, class: 'fullwidth link', placeholder: 'https://example.com/link-to-page' %>
      <%= form.error_message_on :link %>
    <% end %>
    <%= form.field_container :product_id do %>
      <%- product_name = form.object.product ? form.object.product.name : '' -%>
      <%= text_field_tag 'product_ac', product_name, class: 'fullwidth link', placeholder: 'Search a product' -%>
      <%= form.hidden_field :product_id %>
      <%= form.error_message_on :product_id %>
      <div class='row products_autocomplete_results'>
      </div>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-8">
    <%= form.field_container :summary do %>
      <%= form.label :summary %> <span class="required">*</span><br />
      <%= form.text_area :summary, class: 'fullwidth summary' %>
      <%= form.error_message_on :summary %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-8">
    <%= form.field_container :image do %>
      <%= form.label :image %> <span class="required">*</span><br />
      <%= form.file_field :image, class: 'fullwidth image', accept: 'image/png,image/gif,image/jpeg' %>
      <% if @banner.image.exists? %>
        <%= label_tag :current_image, t('current_image') %>
        <div class="image_preview">
          <%= hidden_field_tag :current_image_url, @banner.image.url(:original) -%>
          <%= link_to @banner.image.url, target: '_blank' do %>
            <%= image_tag @banner.image.url(:thumb) %>
          <% end %>
        </div>
      <% end %>
      <%= link_to 'Recortar', '', id: 'crop_image', class: 'button' %>
      <%= form.hidden_field :image_crop_x -%>
      <%= form.hidden_field :image_crop_y -%>
      <%= form.hidden_field :image_crop_w -%>
      <%= form.hidden_field :image_crop_h -%>
      <%= form.error_message_on :image %>
      <div id='crop_banner_modal'>
        <div class='content'>
          <img id='cropper' title='image to crop' src='<%= @banner.image.url(:original) rescue '' -%>'/>
          <div class='buttons'>
            <a class='accept button'>Aceptar</a>
            <a class='cancel button'>Cancelar</a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
