<% content_for :page_title do %>
   <%= Spree.t(:banners) %>
<% end %>

<% content_for :page_actions do %>
  <li><%= button_link_to Spree.t(:new_banner), new_object_url %></li>
<% end %>

<% if @banners.any? %>
  <table class="index sortable" data-sortable-link="/admin/banners/update_positions">
    <colgroup>
      <col style="width: 20px">
      <col style="width: 35%">
      <col style="width: 15%">
      <col style="width: 15%">
      <col style="width: 15%">
      <col style="width: 20%">
    </colgroup>
    <thead>
      <tr>
        <th></th>
        <th class="title"><%= t(:title, scope: 'activerecord.attributes.spree/banner') %></th>
        <th class="link"><%= t(:link, scope: 'activerecord.attributes.spree/banner') %></th>
        <th class="actions"></th>
      </tr>
    </thead>

    <tbody>
      <% @banners.each do |banner| %>
        <tr class="<%= cycle('odd', 'even') %>" id="<%= spree_dom_id banner %>">
          <td>
            <span class="handle"></span>
          </td>
          <td><%= banner.title %></td>
          <td><%= banner.content_link %></td>
          <td class="actions">
            <%= link_to_edit banner, :no_text => true %>
            <%- if can?(:destroy, banner) -%>
              <%= link_to_delete banner, :no_text => true %>
            <%- end -%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alpha twelve columns no-objects-found">
    <%= Spree.t(:no_resource_found, resource: I18n.t(:other, scope: 'activerecord.models.spree/banner')) %>,
    <%= link_to Spree.t(:add_one), spree.new_admin_banner_path %>!
  </div>
<% end %>
